<div class="container">
  <div class="serverAddField">
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
    <input type="text" class="form-control" [(ngModel)]="serverCreatedName" />
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
      Add Server
    </button>
    <p>Server: {{ serverCreatedName }}</p>
  </div>

  <div class="serverList">
    <p>Allow new server? {{ allowNewServer }}</p>
    <app-server *ngFor="let server of servers"></app-server>
    <!-- <p>{{ serverCreationStatus }}</p> -->
    <p *ngIf="serverCreated; else waitForServer">{{ serverCreationStatus }}</p>
    <ng-template #waitForServer>
      {{ serverWaitStatus }}
    </ng-template>
  </div>
</div>
