<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Welcome to <i>{{ title }}!</i>
      </h2>
      <app-servers></app-servers>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="userInfo">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" />
        <p class="usernameDisplay">Username: {{ username }}</p>
        <button class="btn btn-primary" [disabled]="username === ''" (click)="onResetUsername()">
          Reset Username
        </button>
      </div>
    </div>
  </div>
  <hr>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
</div>
