h2 {
  background: #a00;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-align: center;
}

.userInfo {
  border: 2px solid black;
  padding: 8px;
  button {
    margin: 5px 0 5px 0;
  }
}
